h5py==2.10.0
Pillow==6.2.1
numpy==1.17.3
Keras==2.3.1
Keras-Preprocessing==1.1.0
Keras-Applications==1.0.8
requests==2.22.0
tensorflow==2.0.0
tensorboard==2.0.1
tensorflow-estimator==2.0.1
Werkzeug==0.16.0
itsdangerous==1.1.0
Jinja2==2.10.3
Flask==0.11.1
gunicorn==19.9.0
Flask-Bcrypt==0.5.2
Flask-Login==0.2.7
Flask-Script==2.0.5
Flask-SQLAlchemy==1.0
Flask-WTF==0.9.3
SQLAlchemy==1.0.11
h5py==2.10.0
scikit-learn==0.22.1
spacy==2.2.4
nltk==3.4
bs4
beautifulsoup4==4.6.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz#egg=en_core_web_sm==2.2.5
